<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Stats</h1>
</div>

<div class="pt-2">
    <h3 class="text-muted">
        General
    </h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Weight</th>
                <th>Height</th>
                <th>Age</th>
                <th>Bodyfat %</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ stats.weight }} {{ stats.weightUnit }}</td>
                <td>{{ stats.heightFeet }}'{{ stats.heightInch }}</td>
                <td>{{ stats.age }}</td>
                <td>{{ stats.bodyfatPercentage }}%</td>
            </tr>
            <tr>
                <td>
                    <p [ngClass]="getbmiDisplayStringClassmMap()">
                        <strong class="text-dark">BMI:</strong> {{ bmiDisplayString }}*
                    </p>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <p class="text-muted px-3">
        <small>
            * BMI is only a rough estimate for the general population 
        </small>
    </p>
</div>